.main-container {
  text-align: center;
  padding: 60px 20px;
  font-family: "Segoe UI", sans-serif;
  background-color: #f0e9a1;
  color: #333;
  border-radius: 8px;
}

.main-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.url-input-group {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto 20px auto;
}

.url-input {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #333;
  background-color: #f0e9a1;
  border-right: none;
  border-radius: 6px 0 0 6px;
  outline: none;
}

.shorten-button {
  padding: 0 20px;
  background-color: #2b7bb9;
  color: white;
  font-size: 16px;
  border: 1px solid #2b7bb9;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shorten-button:hover {
  background-color: #1d5a91;
}

.description {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

.shorten-button1 {
  padding: 0 20px;
  background-color: #2b7bb9;
  height: 40px;
  color: white;
  font-size: 16px;
  border: 1px solid #2b7bb9;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shorten-button1:hover {
  background-color: #1d5a91;
}
